
.home{
	background-color: #282929;

	main{margin-top: 50px; margin-bottom: 20px; }

	.container-hover{
		h2 { color: #fff; text-shadow: #000 0.2rem 0.4rem 0.5rem; }
		.bt-home{
			border-radius: 8px; border: 1px solid #FF9800;
			background: linear-gradient(#FF9800, #cc7900);

			&:hover{ background: linear-gradient(#ffa41e, #dc8d1a); }
			a, a:hover { color: #fff; text-decoration: none; padding: 0.0rem 1rem; font-size: 2rem;}
		}
	}
	.limite-home{ width: 100%; height: 400px; position: relative; margin: 1rem auto; }
}


.banner-info { 
	margin: 30px auto;
	padding: 20px 20px;
	background-color: #474747;
	height: auto;
	color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

footer{
	background-color: #282929;
	padding: 10px 0;
	margin-top: 60px;

	.centralizar, a { 
		color: #fff;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;

		a:hover{ color: #b2b2b2; text-decoration: none; }
	}

}


  .tg{ color: #2f6f9f;}
  .cl{ color: #4f9fcf;}
  .cln{ color: #d44950;}

.container-codigo{
	    background-color: #f0eeee;
	    border: 4px solid #f0eeee;
	    margin-bottom: 50px;
}

.container-img {
	display: flex;
  		justify-content: center;
  		 border: 4px solid #f0eeee;
  		     padding: 10px 2px;

  		     img{ width: 100%; height: 100%; }
}

.vertical-menu {
    height: 400px;
    overflow-y: auto;
}




body {
  position: relative;

	.navbar{ z-index: 10;}

		.sidebar{
			position: fixed;
			left: -151px;
			top: 13%;
			z-index: 5;
			width: 150px;
			padding: 1px;
			background: rgba(0, 0, 0, 0.83);
			border-radius: 0px 6px 6px 0px;
			transition: 1s;

			::-webkit-scrollbar{ width:10px; height:10px; }
			::-webkit-scrollbar-button:start:decrement, 
			::-webkit-scrollbar-button:end:increment{ 
			  display:block;
			  height:0;
			  background-color:transparent;
			}
			::-webkit-scrollbar-track-piece{
			  background-color: #fff;
			  -webkit-border-radius: 0px 6px 6px 0px;
			}
			::-webkit-scrollbar-thumb:vertical{
			  height:10px;
			  background-color:#000;
			  -webkit-border-radius: 0px 6px 6px 0px;
			}
			::-webkit-scrollbar-thumb:horizontal{
			  width:55px;
			  background-color:#000;
			  -webkit-border-radius: 0px 6px 6px 0px;
			}

		&:hover{ left: 0px; }

		.sidebar-toggle {
			position: absolute;
			width: 20px;
			height: 45px;
			top: 43%;
			left: 150px;
			background: rgba(0, 0, 0, 0.83);
			cursor: pointer;
			border-radius: 0px 6px 6px 0px;

			span{ color: #fff; padding: 3px 0px 0 2px; font-size: 1.5rem; }
		}

		ul{
			padding: 0px;
			ul{ padding: 0 0 0 12px;}
		}
		.nav-item{
			.active{background-color: transparent; color: #fff; font-weight: bold;}
			a{ color: #b2b2b2; }
		} 
	}

	// .sidebar-open{
	// 	left: 0px;
	// 	transition: 1s;
	// }

}

.subir {
	border: none;
	background: rgba(0, 0, 0, 0.83);
	color:#fff;
	border-radius: 6px 6px 6px 6px;
	padding: 0.7rem;
	cursor: pointer;
	position: fixed;
	bottom:1rem;
	right: 1rem;
}





// estilo dos botões e texto//

.ex1{
	.container-hover{
		h2{ color: #000;
		text-shadow: #fff 0.1rem 0.1rem 0.5rem;}
		p{ color: #ec467f;
		text-shadow: #fff 0.1rem 0.1rem 0.5rem; }
	}
}

.ex2{
	.container-hover{
		h2{ color: #5cb85c;
		text-shadow: #000 0.1rem 0.1rem 0.5rem;}
		p{ color: #fff; }
		span{ color: #5cb85c; }
	}
}

.ex3{
	.container-hover{
		h2{ color: #fff;
		text-shadow: #000 0.1rem 0.1rem 0.5rem;}
		p{ color: #fff; 
		text-shadow: #000 0.1rem 0.1rem 0.5rem; }
		span{ color: #FF9800; }
	}
}

.ex4{
	.container-hover{
		h2{ color: #ce0623;}
		.linha{ width: 50%; height: 5px; background-color: #f4cc15;}
		p{ color: #f4cc15;}
		span{ color: #f4cc15; }
	}
}

.ex5{
	.container-hover{
		h2{ color: #ee0404;
			text-shadow: #ed762b 0.1rem 0.1rem 0.5rem;}
		.linha{ width: 50%; height: 5px; background-color: #f4cc15;}
		p{ color: #fff;
		text-shadow: #ed762b 0.1rem 0.1rem 0.5rem;}
		span{ color: #ee0404;
		text-shadow: #ed762b 0.1rem 0.1rem 0.5rem; }
	}
}

.ex6{
	.container-hover{
		h2{ color: #fff;
		text-shadow: #000 0.1rem 0.1rem 0.5rem;}
		p{ color: #fff; 
		text-shadow: #000 0.1rem 0.1rem 0.5rem; }
		span{ color: #FF9800; }
	}
}

.ex7{
	.container-hover{
		h2{ color: #fff;
		text-shadow: #000 0.1rem 0.1rem 0.5rem;}
	}
}

.ex8{
	.container-hover{
		h2{ color: #fff;
		text-shadow: #000 0.1rem 0.1rem 0.5rem;}
	}
}

.ex9{
	.container-hover{
		h2 { color: #fff;
		text-shadow: #000 0.1rem 0.1rem 0.5rem;}
		p { color: #fff;
		text-shadow: #000 0.1rem 0.1rem 0.5rem;}
	}
}


.bt-pink {  
	border-radius: 5px; border: 1px solid #ec467f;
	background: linear-gradient(#ec467f, #E91E63);

	&:hover {background: linear-gradient(#f56496, #f5417e); }
	a, a:hover { color: #fff; text-decoration: none; }
}

.bt-green {  
	border-radius: 5px; border: 1px solid #8BC34A;
	background: linear-gradient(#8BC34A, #4CAF50 );

	&:hover {background: linear-gradient(#9dcc68, #63b766); }
	a, a:hover { color: #fff; text-decoration: none; }
}

.bt-orange {  
	border-radius: 5px; border: 1px solid #FF9800;
	background: linear-gradient(#FF9800, #cc7900);

	&:hover {background: linear-gradient(#ffa41e, #dc8d1a); }
	a, a:hover { color: #fff; text-decoration: none; }
}

.bt-red {  
	border-radius: 5px; border: 1px solid #ce0623;
	background: linear-gradient(#ce0623, #b4001a);
	width: 50%;

	&:hover {background: linear-gradient(#fc0327, #dd0423); }
	a, a:hover { color: #f4cc15; text-decoration: none; width: 100%; }
}

.bt-black-red {  
	border-radius: 8px; border: 0px solid #ee0404;
	background: rgba(0, 0, 0, 0.82);
	width: 90%;

	&:hover { background: rgba(255, 37, 5, 0.59); }
	a, a:hover { color: #fff; text-decoration: none; }
}


.bt-green-2 {  
	border-radius: 0px; border: 1px solid #8BC34A;
	background: #8BC34A;

	&:hover {background: #9dcc68; }
	a, a:hover { color: #fff; text-decoration: none; }
}

.bt-white {  
	border-radius: 8px; border: 1px solid #fff;
	background: rgba(0, 0, 0, 0.0);
	width: 90%;

	&:hover { background: rgba(255, 255, 255, 0.59); }
	a, a:hover { color: #fff; text-decoration: none; }
}

.bt-black {  
	border-radius: 5px; border: 0px solid #000;
	background: linear-gradient(#707070, #000);
	width: 80%;

	&:hover {background: linear-gradient(#b0b2b2, #2d2d2d); }
	a, a:hover { font: bold; color: #fff; text-decoration: none; }
}

.bt-yellow {  
	border-radius: 5px; border: 0px solid #ffe822;
	background: linear-gradient(#dbc719, #e1ca01);

	&:hover {background: linear-gradient(#ffe60d, #f1d902); }
	a, a:hover { font: bold; color: #000; text-decoration: none; }
}





